In [60]:
import pandas as pd
# thu vien
import numpy as np

# thu vien de truc quan hoa du lieu
# seaborn
# matplotlib

# thu vien chay mo hinh du doan
# scikit-learn

# tao dataframe rong 
df = pd.DataFrame()
df

# tao dataFrame tu list
lst = ["Tiên", "Hải", "Hưng", "Khánh"]
df = pd.DataFrame(lst)
df
 
# tao dataFrame tu tuple
tuples = [("Kế toán", 2000), ("Kinh doanh", 1943), ("Tiếp thị", 2342)]
df = pd.DataFrame(tuples, columns= ["Nghe", "Luong"])
df
 
# # tao dataFrame tu tuple
tuplesCodegym = [("Tien", 26), ("Hai", 28), ("Hung", 22)]
df = pd.DataFrame(tuplesCodegym, columns= ["Ten", "Tuoi"])
df

    Ten  Tuoi
0  Tien    26
1   Hai    28
2  Hung    22

In [61]:
import pandas as pd

# key: khoá
# value: giá tri # bieu diên: {}
dic = {'Ten': ['Hung', 'Khanh', 'Hai', 'Hung'],
'Tuoi': [22, 21, 23, 25]}
df = pd. DataFrame (dic)
df

     Ten  Tuoi
0   Hung    22
1  Khanh    21
2    Hai    23
3   Hung    25

In [62]:
# tao series
import pandas as pd
dictCG = {0: "Tien", 1: "Hung", 2: "Hai", 3: "Khanh", 4: "Khanh", 5: "Dat"}
seri = pd.Series(dictCG)
seri

0     Tien
1     Hung
2      Hai
3    Khanh
4    Khanh
5      Dat
dtype: object

In [63]:
# tao series tu numpyArray
import pandas as pd
import numpy as np

arr = np.array([26, 27, 20, 21, 22, 23])
seri = pd.Series(arr)
seri

0    26
1    27
2    20
3    21
4    22
5    23
dtype: int64

In [64]:
# tao seies tu gia tri vo huong
import pandas as pd

seri = pd.Series(10, index = [0, 1, 2, 3, 4])
seri

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [72]:
# doc du lieu co san trong file
# neu khong cung folder: df = pd.read_csv("File path")

import pandas as pd
df = pd.read_csv("FoodPrice_in_Turkey.csv")
df.head()
df.tail()
df.sample(5)

print("So dong du lieu:", df.shape[0])
print("So cot du lieu:", df.shape[1])

df.columns
df.info() # hoac df.dtypes

So dong du lieu: 7381
So cot du lieu: 8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

Truy cap truc tiep: Ten, theo dia chi -- .loc
Truy cap theo dem so: 2 -- .iloc

.loc(hang, cot)

In [81]:
import pandas as pd
df = pd.read_csv("FoodPrice_in_Turkey.csv")

# Truy cap dong co chi so 4 (dong thu 5)
tg = df.iloc[4:8] # tu dong thu 3 toi (8-1)

tg = df.iloc[[3, 5, 7]]

tg = df.iloc[:,4] # hàng, cột
tg = df.iloc[3:5,5:7]
tg

   Month  Year
3     12  2013
4      1  2014

In [91]:
import pandas as pd
df = pd.read_csv("FoodPrice_in_Turkey.csv")

# Lấy giá trị từ cột 3 đến 6
tg = df.iloc[3:6, :]

# Lấy giá trị hàng 30, cột 5
tg = df.iloc [30, 5]

# Lấy giá trị hàng 20 dến 30, cột 2 đến 5, step 2 theo hàng
tg = df.iloc[20:30:2, 2:5]
tg

      ProductName  UmId UmName
20  Rice - Retail     5     KG
22  Rice - Retail     5     KG
24  Rice - Retail     5     KG
26  Rice - Retail     5     KG
28  Rice - Retail     5     KG

Tổng kết
- Pandas là thư viện trong python
- Gồm dataFrame, seri
- Cách tạo bảng, seri thủ công
- Xử lý data
    - Xem bảng trông ntn: df.head, df.tail, df.sample, df.info
    - Tổng quát về bảng:
        - bn hàng, bn cột df.shape
        - tên cột: df.comlumns
        - kiểu dữ liệu: df.info, df.dtypes
    - Truy cập dữ liệu:
        - .loc
        - .iloc hàng, cột
            - hàng cụ thể .iloc[2]
            - chuỗi hàng .iloc[2:5]
            - chỉ gọi cột df.iloc[:, 3]
            - chuỗi hàng, chuỗi cột df.iloc[2:9, 3:6]
            - step